<h2>Create an Account</h2>

<% if flash[:errors].present?  %>
   <strong>Please correct the following errors:</strong>
   <ol>
   <% flash[:errors].each do |error| %>
     <li><%= error %></li>
   <% end %>
   </ol>
<% end %>

<%= form_for @user, html: {multipart:true} do |f| %>

  <%= f.label :name, class:"signup-items"%>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email, class: "signup-items" %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :password, class: "signup-items" %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation, class: "signup-items" %>
  <%= f.password_field :password_confirmation %>
  <br>



  <br>

  <%= f.submit %>

<% end %>
